<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Alchemy Lobby</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!-- favicon -->
    <link rel="favicon.ico" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <!-- javascript route -->
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="alchemy-header" style="text-align: center;"><a href="/"><img src="<%= Routes.static_path(@conn, "/images/Alchemy.png") %>"></a></div>
        <div class="blankspace"></div>
        <div><button class="header-button">Home</button></div>
        <div><button class="header-button">Login</button></div>
        <div><button class="header-button">About</button></div>
      </div>
    </header>

    <div class="animation-area">
      <ul class="sq-area">
        <!-- 6 squares -->
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
      <%= @inner_content %>
  </body>
</html>
